.btn-complete, .btn-add, .btn-delete, .btn-skip {
    color:none;
    background-color:white;
    border:none;
    background-image: url('../../images/sprites.png');
    background-repeat: no-repeat; 
    height:29px;
    width:29px;
    padding:0;
    margin:6px 2px;


}
.btn-complete:hover, .btn-add:hover, .btn-delete:hover, .btn-skip:hover {
    cursor:pointer;
}
.btn-complete {
    background-position: 0 0 ;
}
.btn-complete:hover {
    background-position: 0 -28px;
}
.btn-add {
    background-position:-90px 0;
}
.btn-add:hover {
    background-position:-90px -28px;
}

.btn-delete {
    background-position:-32px 0;
}
.btn-delete:hover {
    background-position:-32px -28px;
}

.btn-skip {
    background-position:-61px 0;
}
.btn-skip:hover {
    background-position:-61px -28px;
}
