.btn-delete {
    color: rgb(201, 18, 18);
    font-size:2em;
    font-weight:600;
    background:none;
    border:none;
    margin-left:-3px;
    padding:0 6px;

}
.btn-delete:hover {
    color: rgb(155, 16, 16);
}